body {
    position: relative;
}
.Welcome {
    background-color: white;
    border-radius: 30px;
    text-align: center;
    padding: 40px;
}

.topnav {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    padding: 5px;
    
}
/*on hover change color*/
.topnav a:hover {
    background-color: black;
    color: white;
}

.topnav {
    position: absolute;
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    bottom:-35px;
    ;
}

body {
    background-image: url("background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img.Logo {
    position:absolute;
    border-radius: 25px;
    margin: 0;
    left:4px;   top:3px;


}
