body {
    position: relative;
}
.Welcome {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.topnav {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    padding: 5px;
    
}
/*on hover change color*/
.topnav a:hover {
    background-color: black;
    color: white;
}

.topnav {
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

body {
    background-image: url("background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img.logo {
    position:absolute;
    border-radius: 25px;
    top: 316px;
    left: 428;
}
