.Welcome {
    border-radius: 20px;
    background-color: grey;
    text-align: center;
    padding: 10px;
}

.topnav {
    border-radius: 10px;
    overflow: hidden;
    background-color: darkgrey;
    padding: 5px;
    
}
/*on hover change color*/
.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav {
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}



.background-image {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 500;
    position: relative;
    isolation: isolate;
}

.background-image ::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset:0;
    background: pink;
    opacity: .6;

    background-image: url("background.jpeg");
    background-size: cover;
    background-position: center;

}
